<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2023 3Cortex Technologies Private Limited. -->
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{dd MMM YYYY HH:mm:ss,SSS} [%-15t] %-5p %-50c{1.} : %m%n
		</Property>
		<Property name="APP_LOG_ROOT">./logs
		</Property>
	</Properties>
	<Appenders>
		<Console name="consoleLog" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="appLog"
			fileName="${APP_LOG_ROOT}/SayaHaritEmission-${ctx:hostName}.log"
			filePattern="${APP_LOG_ROOT}/SayaHaritEmission-${ctx:hostName}-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50000KB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.threecortex.harit" additivity="false"
			level="info">
			<AppenderRef ref="appLog" />
			<AppenderRef ref="consoleLog" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="appLog" />
			<AppenderRef ref="consoleLog" />
		</Root>
	</Loggers>
</Configuration>
